In [3]:
# Importing libraries and dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import csv
import os

In [5]:
# Study data files
disney_raw_data = "disney_movies_total_gross.csv"

# Read data files
disney_df = pd.read_csv(disney_raw_data)
disney_df.head(30)

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
5,"20,000 Leagues Under the Sea",1954-12-23,Adventure,NaN,28200000,528279994
6,Lady and the Tramp,1955-06-22,Drama,G,93600000,1236035515
7,Sleeping Beauty,1959-01-29,Drama,NaN,9464608,21505832
8,101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985
9,The Absent Minded Professor,1961-03-16,Comedy,NaN,25381407,310094574
10,Babes in Toyland,1961-12-14,Musical,G,10218316,124841160
11,Bon Voyage!,1962-05-17,Comedy,Not Rated,9230769,109581646
12,The Sword in the Stone,1963-12-25,Adventure,NaN,22182353,153870834
13,The Jungle Book,1967-10-18,Musical,Not Rated,141843000,789612346
14,Blackbeard's Ghost,1968-02-08,Comedy,NaN,21540050,138612686
15,The Aristocats,1970-04-24,Musical,G,55675257,255161499
16,The Boatniks,1970-07-01,Comedy,NaN,18607492,101200742
17,Bedknobs and Broomsticks,1971-10-07,Musical,NaN,17871174,91305448
18,The Apple Dumpling Gang,1975-07-01,Comedy,NaN,31916500,131246872
19,Freaky Friday,1977-01-21,Comedy,NaN,25942000,98067733
20,The Many Adventures of Winnie the Pooh,1977-03-11,NaN,NaN,0,0
21,The Rescuers,1977-06-22,Adventure,NaN,48775599,159743914
22,Herbie Goes to Monte Carlo,1977-06-24,NaN,NaN,28000000,105847527
23,The Black Hole,1979-12-21,NaN,NaN,35841901,120377374
24,Midnight Madness,1980-02-08,NaN,NaN,2900000,9088096
25,The Last Flight of Noahâ€™s Ark,1980-06-25,NaN,NaN,11000000,34472116
26,The Devil and Max Devlin,1981-01-01,NaN,NaN,16000000,48517980
27,Amy,1981-03-20,Drama,NaN,0,0
28,The Fox and the Hound,1981-07-10,Comedy,NaN,43899231,133118889
29,Condorman,1981-08-07,Action,NaN,0,0